{{#partial "content"}}
<h1>Checkout</h1>
    <div>
        You have selected:<br>
        {{ vehicle.id }}
        {{ vehicle.type }}
        {{ vehicle.year }}
        {{ vehicle.manufacturer }}
        {{ vehicle.model }}
    </div>

{{/partial}}
{{>index.hbs}}