{{#partial "content"}}
    <div class="container">
        <p> <h3> Woo! {{#if user.firstName }}{{ user.firstName }}{{else}}{{ user.email }}{{/if}}, you have
        reserved {{ vehicle.year }} {{vehicle.manufacturer }} {{vehicle.model}}!</h3>
        </p>
    </div>

{{/partial}}

{{>index.hbs}}