{{#partial "content"}}
    <div class="container">
        <h2>Reserve Vehicle</h2>
        <hr>
        <div class="row">
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <h3>Personal info</h3>
                <form action="/confirmreservation" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Credit Card No.:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="cardnumber" required value="{{ user.credit_card_number }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Expiration Date:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="expdate" required value="{{ user.credit_card_expiration_date }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Zip Code:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="zipcode" value="{{ user.credit_card_zip_code }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Security Code:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="securitycode" required value="{{ user.credit_card_security_code }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Phone number:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="phonenumber" required value="{{ user.phone_number }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary" name="confirmation" value="{{vehicle.id}}">Confirm Reservation</button>
                        </div>
                    </div>
                    {{#if error}}
                        <label>{{error}}</label>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>
    <hr>
{{/partial}}

{{> index.hbs}}